//Post card
.post-col {
  padding: 5px;
}
.post-card, .product-sale-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  box-shadow: -3px 1px 9px rgba(153, 102, 255, 0.66);
  border: 1px solid $violet;
  background-color: #ffffff;
}
.product-sale-card {
  box-shadow: unset;
  .post-item-content {
	position: unset;
	border-top: 1px solid $violet;
  }
}
.post-image, .product-sale-image {
  display: flex;
  width: 100%;
  @include back-image;
  &:after {
	padding-bottom: 70%;
	content: '';
	display: block;
  }
}
.product-card-small:hover .product-link {
  opacity: 1;
  transition: opacity .5s;
}
.product-card-small {
  .post-item-content {
	border-top: 1px solid $violet;
  }
}
.cat-item-img {
  position: relative;
  &:after {
	padding-bottom: 120% !important;
  }
}
.card-product-image, .product-sale-image {
  &:after {
	padding-bottom: 100% !important;
  }
}
.small-price {
  @include base-text;
  font-weight: 500;
  text-align: left;
  &.old-price {
	text-decoration: line-through;
  }
}
.upsale-small-title {
  color: $text-color;
  font-size: size(16);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(14);
  text-align: center;
  transition: color .5s;
  &:hover {
	color: $violet;
	transition: color .5s;
  }
}
.category-link {
  @include d-center;
  @include mid-text;
  color: $text-color;
  text-align: center;
  padding: 8px size(20);
  width: 100%;
  border-top: 1px solid $violet;
  background-color: transparent;
  transition: color, background-color .5s;
  &:hover {
	color: #ffffff;
	background-color: $violet;
	transition: color, background-color .5s;
  }
}
.product-link {
  font-weight: 400;
  color: #ffffff;
  background-color: rgba(92, 45, 144, 0.9);
  opacity: 0;
  transition: opacity .5s;
}
.small-prod-link {
  font-size: size(18);
  line-height: size(20);
  padding: 2px 5%;
  min-height: size(28);
}
.product-sale-card:hover .small-prod-link {
  opacity: 1;
  transition: opacity .5s;
}
.post-item-content {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  right: 0;
  min-height: 33%;
  bottom: 0;
  padding: size(20) size(15);
  background-color: rgba(255, 255, 255, 0.9);
}
.upsale-card-contact {
  min-height: unset;
  padding: 0;
  justify-content: flex-end;
  align-items: stretch;
}
.cat-card {
  .mid-text {
	text-align: center;
	color: $text-color;
	transition: color .5s;
	&:hover {
	  color: $violet;
	  transition: color .5s;
	}
  }
  .post-item-content {
	padding: 0;
	flex-direction: column;
	align-items: center;
	min-height: 26%;
  }
  .post-content-card {
	flex-direction: column;
	align-items: center;
	padding: size(12) 10%;
  }
}
.post-content-card {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
//Banner
.banner {
  background-position: top center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: size(30);
  &:after {
	display: block;
	content: '';
	padding-bottom: 30%;
  }
}
.banner-title {
  @include large-title;
  text-align: center;
  color: #ffffff;
}
.banner-subtitle {
  @include base-title;
  text-align: center;
  color: #ffffff;
}
.banner-line {
  padding: size(18) 0;
  width: 100%;
  border: 1px solid #5c2d90;
  background-color: rgba(92, 45, 144, 0.8);
  margin-bottom: 10px;
}
//Content for SEO
.slider-image {
  border: 2px solid $violet;
}
.base-slider-block {
  margin: size(50) 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.slider-image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 50%;
  max-width: 50%;
  img {
	width: 100%;
  }
}
.slider-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 50%;
  max-width: 50%;
}
.slider-content-max-wrap {
  flex: 0 0 100%;
  max-width: 100%;
}
.slider-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: size(20) 15% size(20) size(60);
}
.upsells {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	z-index: 33;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: size(7);
	height: size(11);
	top: 90%;
  }
  .slick-prev:before, .slick-next:before{
	color: transparent;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
	right: 5px;
  }
  [dir="rtl"] .slick-next{
	background-image: url("../iconsall/arrow-left.png");
	left: 5px;
  }
}
.upsells-slider {
  padding-bottom: size(65);
  margin-bottom: size(60);
  border-bottom: 1px solid $violet;
}
.plus-small {
  position: absolute;
  left: 7px;
  bottom: 10px;
  @include d-center;
  background-color: $violet;
  border-radius: 50%;
  width: size(30);
  height: size(30);
  padding-top: 5px;
  background-image: url("../iconsall/plus-white.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: size(14);
}
