.flowers-form-section {
  position: relative;
  padding: size(50) 0;
  overflow-x: hidden;
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 textarea {
  @include base-text;
}
.flowers-abs {
  position: absolute;
  bottom: 0;
  right: -3rem;
  max-width: 30%;
}
.flowers-form-wrap {
  position: relative;
  padding: size(56);
  border: 1px solid $violet;
  background-color: #ffffff;
  div.wpcf7 input[type="email"],
  div.wpcf7 input[type="submit"] {
	height: size(55);
	border: 1px solid $violet;
  }
  div.wpcf7 input[type="email"] {
	border-radius: 0 size(27) size(27) 0;
	background-color: #ffffff;
	padding-right: 20px;
  }
  div.wpcf7 input[type="submit"] {
	min-width: size(230);
	margin-right: -10px;
	border-radius: size(27) 0 0 size(27);
	background-color: $violet;
	@include mid-text;
	font-weight: 500;
	box-shadow: -3px 1px 9px rgba(153, 102, 255, 0.66);
	text-align: center;
	color: #ffffff;
	padding: 5px 15px;
	transition: box-shadow .5s;
	&:hover {
	  box-shadow: unset;
	  transition: box-shadow .5s;
	}
  }
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  border-radius: size(27);
  min-height: size(55);
  padding: size(10) size(50);
  background-color: $violet;
  @include mid-text;
  font-weight: 500;
  box-shadow: -3px 1px 9px rgba(153, 102, 255, 0.66);
  text-align: center;
  color: #ffffff;
  transition: box-shadow .5s;
  &:hover {
	box-shadow: unset;
	transition: box-shadow .5s;
  }
}
.flowers-violet-back {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  height: 50%;
  background-color: rgba(92, 45, 144, 0.8);
}
//Form in footer
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include base-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include base-text;
  }
}
.pop-form {
  .wpcf7-form {
	::placeholder {
	  color: $violet !important;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  color: $violet !important;
	}
  }
}
.foo-menu, .contact-wrap, .form-col {
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="email"],
  div.wpcf7 input[type="tel"],
  div.wpcf7 textarea {
	@include input-style;
  }
  div.wpcf7 textarea {
	height: 2rem;
  }
  div.wpcf7 input[type="submit"] {
	height: size(36);
	border-radius: size(18);
	border: 1px solid $violet;
	background-color: $violet;
	@include base-text;
	text-align: center;
	color: #ffffff;
	padding: 5px 15px;
	transition: color, background-color .5s;
	&:hover {
	  background-color: #ffffff;
	  color: $violet;
	  transition: color, background-color .5s;
	}
  }
}
.pop-form {
  div.wpcf7 input[type="text"],
  div.wpcf7 input[type="email"],
  div.wpcf7 input[type="tel"],
  div.wpcf7 textarea {
	color: $violet;
  }
}
.contact-wrap, .pop-form {
  div.wpcf7 input[type="submit"] {
	height: size(55);
	border-radius: size(27);
	border: 1px solid $violet;
	background-color: #ffffff;
	@include base-text;
	text-align: center;
	color: $violet;
	box-shadow: -3px 1px 9px rgba(153, 102, 255, 0.66);
	font-weight: 700;
	padding: 5px 15px;
	transition: box-shadow .5s;
	&:hover {
	  transition: box-shadow .5s;
	}
  }
}
//Popup
.pop-form {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
  div.wpcf7 input[type="submit"] {
	padding: size(15) size(35);
	font-size: size(24);
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form {
  position: relative;
  width: calc(100% - 10px);
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  background-color: #ffffff;
  &.show-float-form {
	opacity: 1;
	transform: translateY(0);
  }
}
.form-col {
  position: relative;
  @include d-center;
  flex-direction: column;
  padding: size(22) 8%;
}
.close-form {
  position: absolute;
  top: size(19);
  right: size(19);
  cursor: pointer;
  img {
	width: size(26);
  }
}
