#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  height: 85%;
	  a{

	  }
	}
  }
}



//Footer
.foo-socials {
  border-top: 1px solid $violet;
  padding: size(30) 0 size(60) 0;
}
.foo-social-link {
  @include d-center;
  width: size(31);
  height: size(31);
  background-color: $violet;
  border: 1px solid $violet;
  border-radius: 50%;
  margin: 0 8px;
  transition: background-color .5s;
  .fab {
	color: #ffffff;
	font-size: 1.1rem;
	text-align: center;
	transition: color .5s;
  }
  &:hover {
	background-color: #ffffff;
	transition: background-color .5s;
	.fab {
	  color: $violet;
	  transition: color .5s;
	}
  }
}
.socials-footer {
  @include d-center;
}
.footer-main {
  position: relative;
  padding-top: size(60);
  padding-bottom: size(80);
  border-top: 1px solid $violet;
}
.foo-menu {
  padding-top: 1rem;
}
.foo-title {
  @include base-text;
  margin-bottom: size(15);
}
.hop-hey.three-columns {
  column-count: 3;
  column-gap: 1.5rem;
}
footer {
  position: relative;
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	padding-left: 15px;
	a {
	  display: flex;
	  @include base-text;
	  color: $text-color;
	  margin-bottom: 10px;
	  transition: color .5s;
	  &:hover {
		color: $violet;
		transition: color .5s;
	  }
	}
  }
}
#go-top {
  position: absolute;
  top: size(30);
  right: size(33);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
}
.top-wrap {
  @include d-center;
  padding: size(10);
  width: size(48);
  height: size(48);
  background-color: $violet;
  border-radius: 50%;
  margin-bottom: 10px;
  img {
	width: size(52);
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
}
.top-text {
  @include base-text;
  text-align: center;
}


//Header
header {
  position: relative;
  width: 100%;
  padding: size(10) 0;
  z-index: 12345;
  background-color: #ffffff;
  .logo {
	width: 100%;
  }
  .hamburger {
	padding: 0;
	display: flex;
  }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
	background-color: $violet;
  }
  &.fixed {
	background-color: $violet !important;
  }
  &.home-header {
	position: fixed;
	top: 0;
	right: 0;
	background-color: $violet;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	max-height: size(60);
  }
}
.drop-menu {
  display: none;
  position: absolute;
  right: 0;
  justify-content: flex-start;
  align-items: flex-start;
  padding: size(40) size(60);
  background-color: #ffffff;
  width: auto;
  z-index: 9999;
  top: 100%;
  overflow-y: auto;
  nav {
	width: 100%;
  }
  ul{
	li{
	  display: flex;
	  align-items: baseline;
	  a {
		color: $text-color;
		@include mid-text;
		font-style: normal;
		letter-spacing: normal;
		margin-bottom: 0.5rem;
		transition: color .5s;
		&:hover {
		  color: $violet;
		  transition: color .5s;
		}
	  }
	}
  }
  li.menu-item-has-children {
	//position: relative;
	//padding-left: 2rem;
	flex-direction: column;
	&:after {
	  position: absolute;
	  left: 0;
	  content: '+';
	  margin: 0 size(15);
	  @include mid-text;
	  color: $violet;
	  cursor: pointer;
	}
	ul.sub-menu {
	  display: none;
	  opacity: 0;
	  transform: translateY(-100%);
	  pointer-events: none;
	  margin-right: 0;
	  transition: all .5s;
	  a {
		font-size: size(24);
		line-height: size(26);
		font-weight: 300;
	  }
	  &.show-menu {
		display: flex;
		height: auto !important;
		flex-direction: column;
		opacity: 1;
		transform: translateY(0);
		pointer-events: all;
		transition: all .5s;
	  }
	}
  }
}
.register-link {
  margin-right: size(30);
  img {
	width: size(32);
	cursor: pointer;
  }
}
.cart-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: size(30);
  img {
	width: size(25);
  }
  i {
	font-size: 2rem;
	color: $violet;
  }
  .cart-count {
	width: size(22);
	height: size(22);
	background-color: $violet;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-weight: 400;
	font-size: size(14);
	position: absolute;
	right: -12px;
	top: -4px;
  }
}
.pop-trigger {
  cursor: pointer;
}
.bottom-menu-wrap {
  padding: size(15) 0;
  .header-menu-bottom {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
  }
  li {
	position: relative;
	padding: 0 size(20);
	display: flex;
	align-items: center;
  }
  a {
	@include mid-text;
	color: $text-color;
	transition: color .5s;
	&:hover {
	  color: $violet;
	  transition: color .5s;
	}
  }
  ul.sub-menu {
	position: absolute;
	top: 100%;
	opacity: 0;
	pointer-events: none;
	margin-right: 0;
	min-width: 200px;
	width: auto;
	background-color: #ffffff;
	transition: all .5s;
	a {
	  font-size: size(14);
	  line-height: size(14);
	  margin-bottom: 10px;
	}
	&.show-menu {
	  display: flex;
	  flex-direction: column;
	  opacity: 1;
	  pointer-events: all;
	  transition: all .5s;
	}
  }
  .menu-item-has-children {
	position: relative;
	&:after {
	  content: '';
	  display: block;
	  position: absolute;
	  left: 5px;
	  width: size(10);
	  height: size(6);
	  @include back-image;
	  background-size: contain;
	  cursor: pointer;
	  background-image: url("../iconsall/arrow-down.png");
	}
	&:hover ul.sub-menu {
	  opacity: 1 !important;
	  pointer-events: all !important;
	  transition: all .5s;
	}
  }
}
.search-form {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $violet;
  margin-right: 10px;
  margin-bottom: 10px;
}
.search-input {
  background-color: transparent;
  color: $text-color;
  font-size: size(18);
  &::placeholder {
	color: $text-color!important;
	font-size: size(18);
	font-weight: 300;
  }
}
.search-submit {
  width: size(40);
  height: size(40);
  background-image: url("../iconsall/search.png");
  background-position: center;
  background-size: size(29);
  background-repeat: no-repeat;
  background-color: transparent !important;
}

