/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


@media (min-width: 1930px) {
  html{
	font-size: 20px;
  }
  .post-image {
	&:after {
	  padding-bottom: 55%;
	}
  }
}
@media (max-width: 1600px) {
  .post-card {
	.base-text {
	  font-size: size(15);
	  line-height: size(16);
	}
	.mid-text {
	  font-size: size(18);
	  line-height: size(19);
	}
	.post-link {
	  min-width: size(140);
	}
  }
  .banner {
	background-size: cover;
	&:after {
	  padding-bottom: 30%;
	}
  }
  .flowers-form {
	.big-title {
	  @include base-title;
	}
	.base-title {
	  @include mid-text;
	}
	.mid-text {
	  margin-top: -1rem;
	  @include base-text;
	}
  }
}
//Bootstrap 4 breakpoints
@media (min-width: 1500px) {
  .container {
	max-width: 74%;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 18px;
  }
  .container {
	max-width: 84%;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  .flowers-abs {
	right: -2rem;
	max-width: 23%;
  }
  .header-menu-bottom {
	a {
	  font-size: size(18);
	  line-height: size(20);
	}
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .pop-trigger {
	position: fixed;
	border: 1px solid $violet;
	left: 0;
	top: 30%;
	background-color: #ffffff;
	z-index: 9999;
	border-radius: 50%;
	padding: 10px;
	width: size(45);
	height: size(45);
	margin: 0;
	@include d-center;
  }
  .home-main {
	.container {
	  max-width: 95%;
	}
  }
  .banner-title {
	@include base-title;
  }
  .banner-subtitle {
	@include mid-text;
  }
  .slider-image-wrap, .slider-content-wrap {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .flowers-abs {
	right: -1rem;
	max-width: 25%;
  }
  .repeating-about {
	.base-slider-block:nth-child(odd) {
	  flex-direction: row-reverse;
	  .slider-text-wrap {
		padding: size(20) 15% size(20) size(60);
	  }
	}
  }
  .gallery-main-col {
	order: 1;
	margin-bottom: 2rem;
  }
  .post-content-col {
	order: 2;
  }
  .hide-title {
	display: none;
  }
  .mob-title {
	order: -1;
	display: block !important;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .col-with-search {
	flex-direction: column;
	align-items: flex-start !important;
	.wrap-search {
	  order: -1;
	  margin-bottom: 10px;
	}
  }
  .search-input {
	width: size(100);
  }
  .bottom-menu-wrap {
	display: none;
  }
  .register-link, .cart-link {
	margin-right: 0;
  }
  .cart-link {
	margin-bottom: 10px;
  }
  .flowers-form-wrap {
	padding: size(30);
  }
  .flowers-abs {
	display: none;
  }
  .flex-50 {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .main-home-title {
	font-size: size(50);
	line-height: size(50);
  }
  .main-home-subtitle {
	font-size: size(32);
	line-height: size(32);
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .slider-text-wrap {
	padding: size(20) size(30);
  }
  .repeating-about {
	.base-slider-block:nth-child(odd) {
	  flex-direction: row-reverse;
	}
	.slider-text-wrap {
	  padding: size(30) !important;
	}
  }
  .flowers-form-wrap {
	padding: size(20) 10px;
	margin: 0;
	.big-title {
	  @include mid-text;
	}
	.base-title {
	  @include base-text;
	}
	.mid-text {
	  margin-top: -1rem;
	  @include base-text;
	}
	div.wpcf7 input[type="email"],
	div.wpcf7 input[type="submit"] {
	  border-radius: size(27);
	}
	div.wpcf7 input[type="submit"] {
	  margin-right: 0;
	  min-width: unset;
	}
  }
  .contact-icon-wrap {
	margin-left: size(15);
	min-width: size(50);
	width: size(50);
	height: size(50);
	padding: size(10);
  }
  .video-back-violet {
	padding: 5px;
  }
  .video-item {
	&:after {
	  padding-bottom: 74%;
	}
  }
  .main-home-title {
	font-size: size(36);
	line-height: size(37);
  }
  .main-home-subtitle {
	font-size: size(25);
	line-height: size(22);
  }
  .form-col {
	padding: size(50) 7%;
  }
  .wrap-search {
	display: none;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {

}
@media (max-width: 400px) {
  .home-main {
	.container {
	  max-width: 100%;
	}
  }
}
