@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "header-footer";
@import "components";
@import "forms";


body{
  font-family: Arimo, sans-serif;
  text-align: right;
  color: $text-color;
}
.wow {
  visibility: hidden;
}
p, .base-text {
  @include base-text;
}
.base-title {
  @include base-title;
}
.big-title {
  @include large-title;
}
.mid-text {
  @include mid-text;
  color: $text-color;
}
.base-link, .load-more-link {
  @include d-center;
  @include mid-text;
  font-weight: 500;
  text-align: center;
  color: $text-color;
  min-height: size(55);
  box-shadow: -3px 1px 9px rgba(153, 102, 255, 0.66);
  border-radius: size(27);
  border: 1px solid $violet;
  background-color: #ffffff;
  padding: 10px size(23);
  min-width: size(200);
  transition: color, background-color .5s;
  &:hover {
	color: #ffffff;
	background-color: $violet;
	transition: color, background-color .5s;
  }
}
.post-link {
  color: $violet;
  font-size: size(18);
  line-height: size(19);
  min-height: unset;
  min-width: size(150);
  background-color: transparent;
}
.load-more-link {
  margin-top: size(70);
  cursor: pointer;
  padding: 10px size(45) 10px size(55);
  background-image: url("../iconsall/link-arrow-down.png");
  background-size: size(15);
  background-position: size(24) center;
  background-repeat: no-repeat;
  transition: box-shadow .5s;
  &:hover {
	color: $text-color;
	background-color: #ffffff;
	box-shadow: unset;
	transition: box-shadow .5s;
  }
}
.hide {
  display: none;
}
.page-body {
  padding: size(80) 0;
}
.base-output {
  h1, h2 {
	@include base-title;
	margin-bottom: size(15);
  }
  h1, h2, h3, h4, h5, h6 {
	color: $text-color;
	font-weight: 400;
  }
  h3 {
	font-size: size(32);
	line-height: size(34);
  }
  h4 {
	font-size: size(28);
	line-height: size(30);
  }
  h5 {
	font-size: size(25);
	line-height: size(26);
  }
  h6 {
	font-size: size(21);
	line-height: size(22);
  }
  p {
	margin-bottom: size(25);
  }
  p, li {
	@include base-text;
  }
  ul {
	margin: size(30) 1rem;
  }
  li {
	list-style: disc;
	margin-bottom: size(15);
  }
}
//Contact page
.contact-page {
  padding: size(80) 0;
  background-image: url("../img/contact-back.png");
  @include back-image;
}
.contact-wrap {
  box-shadow: 0 0 9px rgba(153, 102, 255, 0.66);
  background-color: #ffffff;
}
.contact-info-wrap {
  display: flex;
  justify-content: center;
  background-image: url("../img/contact-back-inside.png");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}
.contact-wrap-form {
  padding: size(60) 7% size(20) 7%;
  margin: 12px;
}
.flex-50 {
  flex: 0 0 50%;
  max-width: 50%;
}
.contact-type {
  @include mid-text;
  color: #111111;
  transition: color .5s;
}
.contact-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: size(20);
  &:hover {
	.contact-type {
	  color: $violet;
	  transition: color .5s;
	}
  }
}
.contact-icon-wrap {
  @include d-center;
  min-width: size(60);
  margin-left: size(35);
  width: size(60);
  height: size(60);
  padding: size(10);
  background-color: $violet;
  border-radius: 50%;
  img {
	max-height: 100%;
  }
}
.contact-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10%;
}
//About page
.about-body-output {
  .slider-image {
	border: none;
  }
  .base-slider-block {
	margin: 0;
  }
}
.repeating-about {
  .base-slider-block:nth-child(odd) {
	flex-direction: row-reverse;
	.slider-text-wrap {
	  padding: size(20) 0 size(20) 15%;
	}
  }
}
.about-video-block {
  margin: size(35) 0;
}
.video-back-violet {
  padding: size(25);
  background-color: $violet;
}
.video-item {
  position: relative;
  @include d-center;
  width: 100%;
  @include back-image;
  &:after {
	content: '';
	display: block;
	padding-bottom: 44%;
  }
}
.put-video-here {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 19;
  iframe {
	width: 100%;
	height: 100%;
  }
  &.show {
	display: block;
  }
}
.play-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  @include d-center;
  cursor: pointer;
  img {
	width: size(39);
  }
}
//Post page
.gallery-top-item {
  position: relative;
}
.gallery-row {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.gallery-col-pad {
  padding: 3px;
}
.gallery-list-item {
  width: 100%;
  @include d-center;
  @include back-image;
  background-color: #ffffff;
  border: 1px solid $violet;
  &:after {
	display: block;
	content: '';
	padding-bottom: 80%;
  }
}
.gallery-col {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  padding: 3px;
}
.put-image-here {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 1px solid $violet;
  @include back-image;
  opacity: 0;
  transition: opacity, background-image .5s;
  &.show-img {
	opacity: 1;
	transition: opacity, background-image .5s;
  }
}
.mob-title {
  display: none !important;
}
//Faq
.faq-page-body {
  background-image: url("../img/faq-back.png");
  @include back-image;
}
.faq-block-item {
  margin: size(30) 0 size(45) 0;
  .question-header {
	border: none !important;
  }
  .card {
	border: none !important;
	background-color: transparent;
  }
  .question-card {
	margin-bottom: 11px;
  }
  .btn:focus, .btn.focus {
	box-shadow: unset;
  }
  .btn:hover {
	color: $text-color;
  }
}
.question-title {
  display: flex;
  align-items: center;
  @include mid-text;
  color: $text-color;
  border: 1px solid $violet !important;
  border-radius: 0 !important;
  text-align: right;
  background-color: #ffffff;
  padding: 5px size(66) 5px size(40);
  width: 100%;
  min-height: size(46);
  background-image: url("../iconsall/faq-violet.png");
  background-position: calc(100% - 1rem) 5px;
  background-size: size(21);
  background-repeat: no-repeat;
  transition: color, background-color, background-image .5s;
}
.answer-body {
  background-color: transparent;
  padding: 10px size(66) 10px 20%;
}
.arrow-top {
  position: absolute;
  left: size(16);
  width: size(13);
  height: size(13);
  background-image: url("../iconsall/plus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.arrow-bottom {
  background-image: url("../iconsall/minus.png");
}
.violet-faq {
  background-color: $violet;
  color: #ffffff;
  background-image: url("../iconsall/faq.png");
  transition: color, background-color, background-image .5s;
  &:hover {
	color: #ffffff !important;
  }
}
//Homepage
.block-home, .about-home {
  padding: size(50) 0;
}
.about-home {
  .base-link {
	transition: box-shadow .5s;
	&:hover {
	  color: $text-color;
	  background-color: #ffffff;
	  box-shadow: unset;
	  transition: box-shadow .5s;
	}
  }
  .slider-image {
	border: unset;
  }
}
.home-main {
  @include d-center;
  padding: size(200) 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: $violet;
  @include back-image;
  min-height: size(600);
}
.main-home-title, .main-home-subtitle, {
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: right;
  margin-bottom: size(15);
}
.main-home-title {
  font-size: size(60);
  line-height: size(60);
}
.main-home-subtitle {
  font-size: size(36);
  line-height: size(35);
}
.home-main-link {
  border: 1px solid #ffffff;
}
//Shop
.woocommerce-result-count {
  display: none !important;
}
select.orderby {
  -webkit-appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: size(29);
  background-image: url("../iconsall/select-white.png");
  background-position: size(16) center;
  background-repeat: no-repeat;
  background-size: size(12);
  padding: 3px size(16) 3px size(70);
  color: #ffffff;
  font-size: size(18);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(24);
  text-align: center;
  background-color: $violet;
}

//Product
.absolute-price {
  position: absolute;
  top: 7px;
  left: 0;
  z-index: 9;
}
.vari-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(252, 252, 252, 0.8);
  border: 1px solid $violet;
  &.chosen-var {
	background-color: rgba(92, 45, 144, 0.8);
	transition: background-color .5s;
	.vari-title {
	  color: #fdfdfd;
	  transition: color .5s;
	}
	p.price, span.price {
	  color: #ffffff !important;
	  transition: color .5s;
	}
  }
  margin-bottom: size(18);
  padding: size(10);
}
.vari-img {
  @include d-center;
  width: size(51);
  min-width: size(51);
  height: size(51);
  border: 1px solid $violet;
  @include back-image;
  margin-left: size(26);
}
.vari-title {
  @include mid-text;
  color: $text-color;
  font-weight: 700;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
  @include mid-text;
  color: $violet;
  margin-right: size(23);
  transition: color .5s;
}
.woocommerce-product-gallery__image {
  position: relative;
  @include d-center;
  box-shadow: -3px 1px 9px rgba(153, 102, 255, 0.66);
  border: 1px solid #5c2d90;
  background-color: #ffffff;
  &:after {
	content: '';
	display: block;
	padding-bottom: 100%;
  }
  a {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	@include d-center;
	.wp-post-image {
	  height: 100% !important;
	  width: auto !important;
	}
  }
}
.product-page-body .quantity {
  display: none;
}
//Accordion (product)
.accordion-button-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $violet;
  .btn {
	padding: 0;
	border: none !important;
  }
}
.product-info-acc {
  .card {
	border: none !important;
	border-radius: 0 !important;
	padding: 0.5rem 0;
  }
  .slider-output {
	@include base-text;
  }
  .accordion-button-wrap {
	margin-bottom: 0;
  }
}
.product-info-title {
  color: #000000;
  font-size: size(15);
  line-height: size(16);
  font-weight: 400;
}
.accordion-symbol {
  color: $violet;
  font-size: size(22);
  font-weight: 500;
  line-height: size(25);
}
.card .slider-output {
  padding-top: 1rem;
}
.minus-icon {
  display: none !important;
}
.show-icon {
  display: block !important;
}
.hide-icon {
  display: none !important;
}
.product-page-body {
  padding-bottom: size(40);
  margin-bottom: size(50);
  border-bottom: 1px solid $violet;
}
.upsale-title {
  @include mid-text;
  color: $text-color;
  text-align: center;
}
.card-prod-price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.old-price-base {
  color: #666666;
  @include mid-text;
  text-decoration: line-through;
  text-align: center;
  margin-left: 10px;
}
.base-price-title {
  color: #040404;
  font-size: size(30);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(33);
  text-align: center;
}
.yith-wcwl-add-button {
  position: absolute;
  left: size(17);
  top: size(17);
  z-index: 5;
  span {
	display: none;
  }
  .yith-wcwl-icon {
	color: $violet;
	font-size: 2.5rem;
  }
}
.yith-wcwl-wishlistexistsbrowse .feedback {
  background-color: #ffffff;
}
.yith-wcwl-items-count {
  display: block;
  background-image: url("../iconsall/heart.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: size(34);
  height: size(30);
  &:before {
	content: '';
  }
}
.small-prod-link {
 .iconic {
	display: none;
  }
}
.small-prod-link.clicked {
  .text-but {
	display: none;
  }
  .iconic {
	display: block;
	i {
	  font-size: 1rem;
	  color: #ffffff;
	}
  }
}


@import "responsive";
